.chat-list{
    height: 62%;
    overflow-y: auto;
}
.height-chat{
    height: calc(100vh - 80px);
    background-color: #eee;
}
.actic-chat{
    background-color: #eee;
}
.text-overflow {
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  .small{
      font-size: 11px;
  }